<div class="container">
    <div class="row mt-2">
        <div class="col-lg-4">
            <select class="form-control" (change)="changeOption($event.target.value)">
                <option value="0">Opcije</option>
                <option value="Brand">Marka</option>
                <option value="Model">Model</option>
                <option value="Color">Boja</option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control" id="changeAction" (change)="changeAction($event.target.value)">
                <option value="0">Akcija</option>
                <option value="Delete">Obriši</option>
                <option value="Edit">Izmeni</option>
                <option value="Add">Dodaj</option>
            </select>
        </div>
        <div class="col-lg-4" id="optionValue" (change)="changeOptionValue($event.target.value)">
            <select class="form-control" >
                <option value="0">Trenutna vrednost opcije</option>
                <option *ngFor="let option of options" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-4" id="optionModel">
            <select class="form-control" (change)="changeModel($event.target.value)">
                <option value="0">Model</option>
                <option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</option>
            </select>
        </div>
        <div class="col-lg-4" id="txtOption">
            <input type="text" [(ngModel)]="txtOption">
        </div>
        <div class="col-lg-4" id="btnSubmit" (click)="onSubmit()">
            <a  class="edit btn btn-success mr-1" >
                Sačuvaj
            </a>
        </div>
    </div>
</div>
