<div class="container">
    <table class="table table-striped table-hover col-lg-6 mx-auto">
        <thead>
            <tr>
                <th>
                    Nova rezervacija
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ime i prezime</td>
                <td>{{ reservationInfo.firstName + " " + reservationInfo.lastName }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ reservationInfo.email }}</td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td>{{ reservationInfo.address }}</td>
            </tr>
            <tr>
                <td>Mobilni</td>
                <td>{{ reservationInfo.mobile }}</td>
            </tr>
            <tr>
                <td>Marka i model automobila</td>
                <td>{{ reservationInfo.modelBrand }}</td>
            </tr>
            <tr>
                <td>Broj šasije</td>
                <td>{{ reservationInfo.vin }}</td>
            </tr>
            <tr>
                <td>Datum</td>
                <td>
                    <input type="date" [(ngModel)]="date" min="2021-05-28" id="date" name="date" />
                </td>
            </tr>
            <tr>
                <td>Vreme</td>
                <td>
                    <input type="time" [(ngModel)]="time" min="08-00" max="16-00" id="time" name="time" />
                </td>
            </tr>
            <input type="button" class="btn btn-success" value="Rezerviši" (click)="onSubmitReservation($event)" />
        </tbody>
    </table>
</div>
