<footer class="py-5 bg-dark m-t-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="text-white">
            <i class="fas fa-map-marker-alt"></i>
             Adresa : Prizrenska 2, Kikinda
          </p>
          <p class="text-white">
            <i class="fas fa-mobile-alt"></i>
             Mobilni : 0669404089
          </p>
          <p class="text-white">
            <i class="far fa-envelope"></i>
             Email : carshop0230@gmail.com
          </p>
        </div>
        <div class="col-lg-6">
          <p class="m-0 text-center text-white">Copyright &copy; Car Shop 0230</p>
        </div>
      </div>
    </div>
</footer>
