<!-- Page Content -->
<div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Čime se bavimo</h2>
        <hr>
        <p>CAR SHOP 0230 se bavi prodajom ekskluzivnih polovnih vozila renomiranih svetskih proizvođača automobila. Sva naša vozila kupljena su od velikih evropskih lizing kuća, starosti 1-2 godine i u perfektnom su voznom stanju, perfektnog eksterijera i enterijera</p>
        <a class="btn btn-primary btn-lg" routerLink="/sell-used-cars">Vozila na našem placu &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Kontaktirajte nas</h2>
        <hr>
        <address>
          <strong>CAR SHOP 0230</strong>
          <br>Prizrenska 2
          <br>Kikinda
          <br>
        </address>
        <address>
          <abbr title="Phone">Telefon:</abbr>
          0669404089
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:#">carshop0230@gmail.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div *ngFor="let car of cars" class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{image_dist+car.images[0]}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ car.brand + " " + car.model }}</h4>
            <h6 class="card-text">Opis: {{ car.description }}<br>Cena: {{ car.price }}</h6>
          </div>
          <div class="card-footer">
            <a (click)="onSelectCarDetail(car.id)" class="btn btn-primary">Detaljnije</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->