<h3 class="pt-5">Banovani korisnici</h3>
    <table class="table table-striped table-hover col-lg-12 mx-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime i prezime</th>
                <th scope="col">Email</th>
                <th scope="col">Mobilni</th>
                <th scope="col">Datum</th>
                <th scope="col">Status</th>
                <th scope="col">Akcija</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users; let i = index">
            <tr>
                <th scope="row">{{ i+1 }}</th>
                <td>{{ user.firstName + " " + user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.dateTime }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a class="edit btn btn-warning" (click)="onUserActivate(user.id)">
                        Aktiviraj
                    </a>
                </td>
            </tr>
        </tbody>
    </table>