<div class="container">
    <div class="inner-page inventory-listing">
        <div class="inventory-heading margin-top-100">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="ml-3">{{ car["brand"] + " " + car["model"] + " " + car["description"] }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="container my-4">
                    <hr class="my-4">
                    <!--Carousel Wrapper-->
                    <div>
                      <!--Slides-->
                      <div>
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                    </div>
                    <!--/.Carousel Wrapper-->
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="listing-slider">
                    <div class="side-content">
                        <div class="car-info mt-4">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><strong>MARKA:</strong></td>
                                        <td><strong>{{ car["brand"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>MODEL:</strong></td>
                                        <td><strong>{{ car["model"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>KAROSERIJA:</strong></td>
                                        <td><strong>{{ car["category"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>GODIŠTE:</strong></td>
                                        <td><strong>{{ car["yearOfManufacture"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>KILOMETRAŽA:</strong></td>
                                        <td><strong>{{ car["currentKm"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>GORIVO:</strong></td>
                                        <td><strong>{{ car["fuel"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>SNAGA (KW):</strong></td>
                                        <td><strong>{{ car["powerKw"] }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>KUBIKAŽA</strong></td>
                                        <td><strong>{{ car["cubic"] }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="vehicle-price-box padding-vertical-15">
                            <span class="badge badge-primary">
                                <!-- <p class="price-name">Cena</p> -->
                                <p class="price-value">{{ car["price"] }} &euro;</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div id="technical">
                    <table class="technical" >
                        <thead>
                            <tr>
                                <th>Oprema i stanje</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr *ngFor="let equipmentRows of equipments">
                                <td *ngFor="let row of equipmentRows" class="features">
                                    <ul class="fa-ul">
                                        <li><i class="fa-li fa fa-check"></i>{{ row }}</li>	
                                    </ul>											
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="technical" >
                        <thead>
                            <tr>
                                <th>Opis</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>{{ car["note"] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</div>
