<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <form>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Podaci o korisniku
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ime</td>
                            <td></td>
                            <td>{{ user['firstName'] }}</td>
                        </tr>
                        <tr>
                            <td>Prezime</td>
                            <td></td>
                            <td>{{ user['lastName'] }}</td>
                        </tr>
                        <tr>
                            <td>Korisničko ime</td>
                            <td></td>
                            <td>{{ user['username'] }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td></td>
                            <td>{{ user['email'] }}</td>
                        </tr>
                        <tr>
                            <td>Adresa</td>
                            <td></td>
                            <td>{{ user['address'].city + ',' +user['address'].street }}</td>
                        </tr>
                        <tr>
                            <td>Mobilni</td>
                            <td></td>
                            <td>{{ user['mobile'] }}</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="#editUserModal" class="edit btn btn-warning" data-toggle="modal">
                                Izmeni podatke
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#editUserPasswordModal" class="edit btn btn-info" data-toggle="modal">
                                    Promeni lozinku
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#deleteUserModal" class="edit btn btn-danger" data-toggle="modal">
                                    Obriši nalog
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-10">
                        <!-- Edit Modal HTML -->
                        <div id="editUserModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form #editUserForm='ngForm' (ngSubmit)="onEditUser(editUserForm)">
                                        <div class="modal-header">						
                                            <h4 class="modal-title">Izmeni podatke</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">					
                                            <div class="form-group">
                                                <label>Mobilni</label>
                                                <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Grad</label>
                                                <input type="text" [(ngModel)]="city" name="city" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Ulica i broj</label>
                                                <input type="text" [(ngModel)]="street" name="street" class="form-control">
                                            </div>	
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-info" value="Sačuvaj">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                         <!-- Edit Password Modal HTML -->
                         <div id="editUserPasswordModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form #editUserPasswordForm='ngForm' (ngSubmit)="onEditUserPassword(editUserPasswordForm)">
                                        <div class="modal-header">						
                                            <h4 class="modal-title">Izmeni šifru</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">					
                                            <div class="form-group">
                                                <label>Trenutna šifra</label>
                                                <input type="password" [(ngModel)]="currentPassword" name="currentPassword" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Nova šifra</label>
                                                <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Ponovite novu šifru</label>
                                                <input type="password" [(ngModel)]="rNewPassword" name="rNewPassword" class="form-control">
                                            </div>	
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-info" value="Sačuvaj">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Delete Modal HTML -->
                        <div id="deleteUserModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form #deleteUserForm='ngForm' (ngSubmit)="onDeleteUser()">
                                        <div class="modal-header">						
                                            <h4 class="modal-title">Obriši nalog</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">	
                                            <p>Prilikom brisanja naloga sve Vaše rezervacije više neće biti aktivne, a nalog neće biti trajno obrisan.</p>				
                                            <p>Ukoliko se odlučite da vratite nalog kontaktirajte admina!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-info" value="Obriši">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>